:root {
  --font-family: "Inconsolata", monospace;
  --dark-color: #2D2D2A;
  --light-color: white;
  --accent-color: #E5DCC5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--dark-color);
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #FFF2E0;
  transition: 0.7s;
}

.container.dark {
  background: #222;
}
