:root {
  --font-family: "Inconsolata", monospace;
  --color-bg: #FFF2E0;
  --color-text: #222;
  --color-navbar: #fff;
  --color-search-bg: #242424;
  --color-search-text: #fff;
  --color-accent: #E5DCC5;
  --transition-speed: 0.3s;
}

.dark {
  --color-bg: #222;
  --color-text: #fff;
  --color-navbar: #000;
  --color-search-bg: #fff;
  --color-search-text: #222;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  transition: background-color var(--transition-speed);
}

